# Database
FAM_DATABASE_URL=postgres://fam:fam@localhost:5432/fam

# Server
FAM_LISTEN_ADDR=0.0.0.0:8080
FAM_SERVER_NAME=Fresco Account Manager
FAM_REPEAT_SEC=86400

# RSA Keys
FAM_PRIVATE_KEY_PATH=keys/private.pem
FAM_PUBLIC_KEY_PATH=keys/public.pem
